@use "abstracts";
@use "core";
@use "components";
@use "layouts";
@use "pages";

.section {
  transition: transform 1s, opacity 1s;
}

.header.sticky {
  position: fixed;
  top: 0;
  left: 0 !important;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
  animation: show-up 1s forwards;
  z-index: 100;
}

@keyframes show-up {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
