@charset "utf-8";
@use "abstracts";
@use "core";
@use "components";
@use "pages";

.section {
  transform-origin: top center;
  opacity: 1;
  transform: rotateY(0);
  transition: all 1s ease-out;
}

.section--hidden {
  transform-origin: top center;
  transform: rotateY(-90deg);
  opacity: 0.25;
}
