@use "../abstracts/functions" as *;

// VARIABLES CSS
:root {
  // COLORS
  --color-darkCyan: #0e8784;
  --color-darkGreyBlue: #333d4b;
  --color-paleOrange: #fdd6ba;
  --color-lightCream: #fefcf7;
  --color-grey: #83888f;

  // Text
  --color-primary-text: #fefcf7;
  --color-second-text: #333d4b;
  --color-third-text: #83888f;

  // Background Color
  --color-bg-primary: #fefcf7;
  --color-bg-second: #2c343e;

  // LINE-HEIGHT

  // title
  --lh-xl: 0.48;
  --lh-l: 1;
  --lh-m: 1.2;
  --lh-s: 1.12;
  --lh-xs: 1.33;

  // body
  --lh-body-m: 1.62;
  --lh-body-s: 1.25;

  // button
  --lh-button: 1.39;

  // FONT-WEIGHT
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

// Dark Mode
// html {
//   // COLORS
//   --color-darkGreyBlue: #333d4b !important;
//   --color-bg: #fefcf7 !important;
// }

// html[data-theme="dark"] {
//   // COLORS
//   --color-darkGreyBlue: #2c343e !important;
//   --color-bg: #333d4b !important;
// }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */

*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

// html,
// body {
//   height: 100%;
// }

html {
  overflow-x: hidden;
}

body {
  transition: 0.4s ease-in-out;

  background: var(--color-bg);
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
}

body.dark-theme {
  transition: 0.4s ease-in-out;
  // Text
  --color-second-text: #fefcf7;
  --color-third-text: #fefcf7;
  --color-bg: #333d4b;
  --color-bg-second: #2c343e;

  .header__logo {
    filter: brightness(700%);
  }

  .header__menu-ham {
    svg path {
      fill: #fff !important;
    }
  }

  .header__nav.sticky {
    background-color: var(--color-darkCyan);
    opacity: 0.25;

    & > .header__list .header__link:hover {
      color: var(--color-bg-second);
    }
  }

  .works__details {
    .circle-1,
    .circle-2,
    .circle-3 {
      background: transparent;
    }
  }

  #theme-button {
    color: var(--color-third-text);
  }

  .headquarters__title {
    color: var(--color-primary-text);
  }

  .btn-box {
    .btn--padding {
      color: var(--color-darkGreyBlue);
      opacity: 0.4;

      &.activeButton {
        opacity: 1;

        color: var(--color-primary-text);
      }
    }
  }
}
