@use "../abstracts/functions" as *;

// VARIABLES CSS
:root {
  // COLORS
  --color-darkCyan: #0e8784;
  --color-darkGreyBlue: #333d4b;
  --color-paleOrange: #fdd6ba;
  --color-lightCream: #fefcf7;
  --color-grey: #83888f;

  // LINE-HEIGHT

  // title
  --lh-xl: 0.48;
  --lh-l: 1;
  --lh-m: 1.2;
  --lh-s: 1.12;
  --lh-xs: 1.33;

  // body
  --lh-body-m: 1.62;
  --lh-body-s: 1.25;

  // button
  --lh-button: 1.39;

  // FONT-WEIGHT
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
