@use "../abstracts/functions" as *;
@use "../core/typography" as *;
@use "../abstracts/mixins" as *;

/* INDEX */
@mixin footer {
  @include container;
  padding-bottom: rem(88);

  &__box {
    padding: rem(47) rem(85);
    background-color: var(--color-darkGreyBlue);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    svg g path:nth-child(1) {
      fill: #fff;
    }

    .footer__redes {
      display: flex;
      align-items: center;
      gap: rem(24);

      .footer__icon {
        &:hover,
        &:hover path {
          fill: var(--color-paleOrange);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  &__nav {
    @include container;
    display: flex;
    justify-content: space-between;

    .footer__list {
      display: flex;
      gap: rem(33);

      .footer__link {
        @include font-body-s;
        font-weight: var(--fw-bold);
        transition: 0.4s;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
