@use "../abstracts/functions" as *;
@use "../core/typography" as *;
@use "../abstracts/mixins" as *;

/* INDEX */
@mixin footer {
  @include container;
  padding-bottom: rem(88);

  @include screen-880 {
    padding-bottom: rem(72);
  }

  &__box {
    padding: rem(47) rem(85);
    background-color: var(--color-bg-second);
    display: flex;
    align-items: center;

    .footer__logo {
      filter: brightness(600%) contrast(100%);
      @include screen-370 {
        width: rem(160);
      }
    }

    @include screen-1070 {
      padding-top: rem(54);
      padding-bottom: rem(54);
      flex-direction: column;
      align-items: center;
    }

    @include screen-660 {
      padding: rem(54);
    }

    .footer__redes {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: rem(24);

      li {
        height: rem(24);
        display: flex;
      }

      li:nth-child(2) a {
        display: flex;
        align-items: flex-end;
      }

      @include screen-1070 {
        margin: 0 auto;
        padding-top: rem(65);
      }

      @include screen-660 {
        padding-top: rem(49);
      }

      .footer__icon {
        &:hover,
        &:hover path {
          fill: var(--color-paleOrange);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  &__nav {
    @include container;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: rem(102);
    padding-right: 0;
    height: max-content;

    @include screen-1070 {
      padding: 0;
    }

    .footer__list {
      display: flex;
      align-items: center;
      gap: rem(33);
      height: max-content;

      @include screen-1070 {
        padding-top: rem(32);
      }

      @include screen-660 {
        flex-direction: column;
        text-align: center;
        gap: rem(24);
        padding-top: rem(48);
      }

      .footer__item {
        height: rem(15);
        display: flex;
        place-items: center;
      }

      .footer__link {
        @include font-body-s;
        color: var(--color-third-text);
        font-weight: var(--fw-bold);
        transition: 0.4s;

        &:hover {
          color: #fff;
        }

        body.dark-theme &:hover {
          color: var(--color-darkCyan);
        }
      }
    }
  }
}
