@use "../abstracts/functions" as *;
@use "../core/typography" as *;
@use "../abstracts/mixins" as *;

/* INDEX */
@mixin header {
  position: relative;
  height: 7.063rem;
  display: flex;

  @include screen-660 {
    height: 5.625rem;

    &__logo {
      width: rem(163);

      @include screen-370 {
        width: rem(110);
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include container;

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      animation: show-up 1s forwards;
      background-color: rgba(255, 255, 255, 0.95);
      max-width: 100%;
      padding-top: rem(44);
      padding-bottom: rem(44);

      @include screen-660 {
        padding-top: rem(32);
        padding-bottom: rem(40);
      }
    }

    @keyframes show-up {
      from {
        transform: translateY(-20px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .dark-mode {
      background: none;
      border: none;
      color: var(--color-darkCyan);
      cursor: pointer;
      #theme-button {
        font-size: rem(24);
      }
    }
    // MENU MOBILE
    .header__menu-ham {
      display: none;
      border: none;
      background: none;
      width: rem(20);

      @include screen-660 {
        display: flex;
        justify-content: center;

        .close {
          display: none;
        }

        .close.active {
          display: block;
        }

        .menu.active {
          display: none;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: rem(33);
    justify-self: end;

    // MENU MOBILE
    @include screen-660 {
      flex-direction: column;
      gap: rem(32);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      background: linear-gradient(
        to top,
        rgba(254, 252, 247, 0.504981) 0%,
        #fefcf7 55.94%
      );
      margin-top: rem(90);
      padding: rem(40) rem(82);
      z-index: 10;
      display: none;

      &.active {
        height: rem(577);
        display: flex;
        animation: showMenu 1s forwards;
      }

      @keyframes showMenu {
        from {
          opacity: 0;
          transform: translateX(100px);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    .header__link {
      @include font-body-s;
      color: var(--color-third-text);
      font-weight: var(--fw-bold);
      transition: 0.4s;

      @include screen-660 {
        @include font-xs;
        color: var(--color-darkGreyBlue);
      }

      &:hover {
        color: var(--color-darkGreyBlue);

        body.dark-theme &:hover {
          color: var(--color-darkCyan);
        }
      }
    }
  }
}
