:root {
  --color-darkCyan: #0e8784;
  --color-darkGreyBlue: #333d4b;
  --color-paleOrange: #fdd6ba;
  --color-lightCream: #fefcf7;
  --color-grey: #83888f;
  --lh-xl: 0.48;
  --lh-l: 1;
  --lh-m: 1.2;
  --lh-s: 1.12;
  --lh-xs: 1.33;
  --lh-body-m: 1.62;
  --lh-body-s: 1.25;
  --lh-button: 1.39;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font: var(--fw-black) 1.125rem/var(--lh-button) "Fraunces", serif;
  color: var(--color-lightCream);
  padding: 0.9375rem 5.0625rem 1rem 5.0625rem;
  background-color: var(--color-darkCyan);
  border-radius: 0.375rem;
  transition: 0.3s;
}
.btn:link:hover,
.btn:visited:hover {
  background-color: #66d2cf;
}

.btn-disable {
  background-color: #e2dedb !important;
}

/* INDEX */ /* INDEX */
/* HEADER */
.header {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  position: relative;
}
@media (max-width: 41.25rem) {
  .header {
    padding: 0 1.5rem;
  }
}
@media (max-width: 41.25rem) {
  .header {
    padding-top: 2rem;
  }
  .header__logo {
    max-width: 10.1875rem;
    margin-bottom: 2.5rem;
  }
}
.header__nav .header__menu-ham {
  display: none;
  border: none;
  background: none;
}
@media (max-width: 41.25rem) {
  .header__nav .header__menu-ham {
    display: block;
  }
  .header__nav .header__menu-ham .close {
    display: none;
  }
  .header__nav .header__menu-ham .close.active {
    display: block;
  }
  .header__nav .header__menu-ham .menu.active {
    display: none;
  }
}
.header__list {
  display: flex;
  gap: 2.0625rem;
}
@media (max-width: 41.25rem) {
  .header__list {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
    margin-top: 5.625rem;
    padding: 2.5rem 5.125rem;
    z-index: 10;
    display: none;
  }
  .header__list.active {
    height: 36.0625rem;
    display: flex;
    animation: showMenu 1s forwards;
  }
  @keyframes showMenu {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.header__list .header__link {
  font: var(--fw-bold) 0.75rem/var(--lh-body-s) "Barlow", sans-serif;
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 0.92px;
  font-weight: var(--fw-bold);
  transition: 0.4s;
}
@media (max-width: 41.25rem) {
  .header__list .header__link {
    font: var(--fw-black) 1.5rem/var(--lh-xs) "Fraunces", serif;
    color: var(--color-darkGreyBlue);
    color: var(--color-darkGreyBlue);
  }
}
.header__list .header__link:hover {
  color: var(--color-darkGreyBlue);
}

/* HERO */
.hero {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  margin-bottom: 8.5rem;
}
@media (max-width: 41.25rem) {
  .hero {
    padding: 0 1.5rem;
  }
}
@media (max-width: 55rem) {
  .hero {
    margin-bottom: 9rem;
  }
}
@media (max-width: 41.25rem) {
  .hero {
    margin-bottom: 7.5rem;
  }
}
.hero__box {
  height: 37.5rem;
  background: url(/assets/img/home/desktop/image-hero-coffeepress.jpg) no-repeat;
  padding-top: 7.3125rem;
  padding-left: 5.3125rem;
  border-radius: 0.625rem;
  position: relative;
}
@media (max-width: 55rem) {
  .hero__box {
    height: 31.25rem;
    background: url(/assets/img/home/tablet/image-hero-coffeepress.jpg) no-repeat;
    background-size: cover;
    padding-top: 6.5rem;
    padding-left: 3.625rem;
  }
}
@media (max-width: 41.25rem) {
  .hero__box {
    padding: 6.25rem 1.5rem;
    background: url(/assets/img/home/mobile/image-hero-coffeepress.jpg) no-repeat;
    background-size: cover;
  }
}
.hero__box .hero__content {
  max-width: 30.8125rem;
}
@media (max-width: 55rem) {
  .hero__box .hero__content {
    max-width: 24.875rem;
  }
}
@media (max-width: 41.25rem) {
  .hero__box .hero__content {
    max-width: 100%;
    text-align: center;
  }
}
.hero__box .hero__content .hero__title {
  font: var(--fw-black) 4.5rem/var(--lh-l) "Fraunces", serif;
  color: var(--color-lightCream);
  margin-bottom: 2rem;
}
@media (max-width: 55rem) {
  .hero__box .hero__content .hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 41.25rem) {
  .hero__box .hero__content .hero__title {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
}
.hero__box .hero__content .hero__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  margin-bottom: 3.5rem;
  max-width: 45ch;
}
@media (max-width: 55rem) {
  .hero__box .hero__content .hero__desc {
    font-size: 0.9375rem;
    line-height: 1.67;
  }
}
@media (max-width: 41.25rem) {
  .hero__box .hero__content .hero__desc {
    max-width: 100%;
    margin-bottom: 2.4375rem;
  }
}
.hero__box .hero__content .btn--padding {
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
}

/* COLLECTION */
.collection {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  display: grid;
  margin: auto auto 12.5rem auto;
}
@media (max-width: 41.25rem) {
  .collection {
    margin-bottom: 7.5rem;
  }
}
.collection__title {
  font: var(--fw-black) 9.375rem/var(--lh-xl) "Fraunces", serif;
  color: var(--color-grey);
  text-transform: lowercase;
  grid-area: 1/-1;
  justify-self: center;
  background-image: linear-gradient(to top, rgba(254, 252, 247, 0.0001) 0%, #979797 100%);
  color: var(--color-grey);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*setting height value for linear-gradient to work 100%*/
  height: 12.25rem;
  padding-top: 5.375rem;
  z-index: -1;
}
@media (max-width: 73.125rem) {
  .collection__title {
    font-size: 6.25rem;
  }
}
@media (max-width: 55rem) {
  .collection__title {
    height: 7.375rem;
    padding-top: 1.6875rem;
    font-size: 6rem;
    line-height: 0.75;
  }
}
@media (max-width: 47.8125rem) {
  .collection__title {
    font-size: 5rem;
  }
}
@media (max-width: 41.25rem) {
  .collection__title {
    padding-top: 0;
    font-size: 2.5rem;
    line-height: 1.8;
    height: 4.5rem;
    margin-bottom: 0.8125rem;
  }
}
.collection__list {
  grid-area: 1/-1;
  padding-top: 7.875rem;
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 73.125rem) {
  .collection__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 55rem) {
  .collection__list {
    padding-top: 3.6875rem;
    flex-direction: column;
    align-content: center;
  }
}
@media (max-width: 41.25rem) {
  .collection__list {
    padding-top: 0;
    grid-area: initial;
    gap: 3rem;
  }
}
@media (max-width: 41.25rem) {
  .collection__list {
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
}
.collection__list .collection__item {
  width: 15.9375rem;
  text-align: center;
  display: grid;
}
@media (max-width: 55rem) {
  .collection__list .collection__item {
    text-align: left;
    width: max-content;
    height: 12.0625rem;
    grid-template-columns: 1fr 1fr;
  }
  .collection__list .collection__item .collection__content {
    max-width: 17.625rem;
    height: max-content;
    padding-top: 1.8125rem;
  }
}
@media (max-width: 41.25rem) {
  .collection__list .collection__item {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    width: 100%;
    height: auto;
    justify-items: center;
  }
  .collection__list .collection__item .collection__content {
    padding-top: 0;
    text-align: center;
    height: auto;
  }
}
.collection__list .collection__item .collection__img {
  margin-bottom: 4.5rem;
}
@media (max-width: 41.25rem) {
  .collection__list .collection__item .collection__img {
    margin-bottom: 0;
    height: 9.4375rem;
  }
}
.collection__list .collection__item .collection__subtitle {
  font: var(--fw-black) 1.5rem/var(--lh-xs) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  margin-bottom: 1.5rem;
}
.collection__list .collection__item .collection__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  color: var(--color-darkGreyBlue);
}
@media (max-width: 55rem) {
  .collection__list .collection__item .collection__desc {
    font-size: 0.9375rem;
    line-height: 1.67;
  }
}

/* BENEFITS */
.benefits {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  height: 45.5rem;
  margin-bottom: 12.5rem;
}
@media (max-width: 41.25rem) {
  .benefits {
    padding: 0 1.5rem;
  }
}
@media (max-width: 73.125rem) {
  .benefits {
    height: 53.9375rem;
    margin-bottom: 9rem;
  }
}
@media (max-width: 41.25rem) {
  .benefits {
    height: 95.375rem;
    margin-bottom: 7.5rem;
  }
}
.benefits__content {
  height: 36.0625rem;
  background-color: #282f38;
  border-radius: 0.625rem;
  padding: 0 5.3125rem 0 5.3125rem;
  display: grid;
  row-gap: 5.375rem;
}
@media (max-width: 73.125rem) {
  .benefits__content {
    height: 35.8125rem;
    padding: 0 4.625rem 0 4.625rem;
    row-gap: 4.375rem;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content {
    height: 56.375rem;
    padding: 0 1.5rem 0 1.5rem;
    row-gap: 4rem;
  }
}
.benefits__content .benefits__info {
  justify-self: center;
  display: grid;
  row-gap: 2rem;
  max-width: 32.5rem;
  text-align: center;
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__info {
    row-gap: 1.5rem;
  }
}
.benefits__content .benefits__info .benefits__title {
  font: var(--fw-black) 2.5rem/var(--lh-m) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  color: var(--color-lightCream);
  padding-top: 6.25rem;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__info .benefits__title {
    padding-top: 3.5rem;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__info .benefits__title {
    padding-top: 4rem;
    font-size: 1.75rem;
    line-height: 1;
  }
}
.benefits__content .benefits__info .benefits__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  opacity: 0.8;
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__info .benefits__desc {
    max-width: 100%;
  }
}
.benefits__content .benefits__list {
  display: flex;
  gap: 1.875rem;
  text-align: center;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.benefits__content .benefits__list .benefits__item {
  max-width: 21.875rem;
  background-color: var(--color-darkCyan);
  border-radius: 0.5rem;
  padding: 4.5rem 3rem 3rem 2.9375rem;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list .benefits__item {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4375rem;
    text-align: left;
    padding: 2.5625rem 3rem 2.5625rem 4.375rem;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__list .benefits__item {
    flex-direction: column;
    text-align: center;
    padding: 4.5rem 0.75rem 3.1875rem 0.75rem;
  }
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list .benefits__item-content {
    max-width: 21.5rem;
  }
}
.benefits__content .benefits__list .benefits__item img {
  margin: auto auto 3.5rem auto;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list .benefits__item img {
    margin: 0;
    height: 56px;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__list .benefits__item img {
    height: 4.5rem;
  }
}
.benefits__content .benefits__list .benefits__item .benefits__subtitle {
  font: var(--fw-black) 1.5rem/var(--lh-xs) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  color: var(--color-lightCream);
  margin-bottom: 1.5rem;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list .benefits__item .benefits__subtitle {
    margin-bottom: 1rem;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__list .benefits__item .benefits__subtitle {
    margin-bottom: 1.5rem;
  }
}
.benefits__content .benefits__list .benefits__item .benefits__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
}
@media (max-width: 73.125rem) {
  .benefits__content .benefits__list .benefits__item .benefits__desc {
    font-size: 0.9375rem;
    line-height: 1.67;
    max-width: 100%;
  }
}
@media (max-width: 41.25rem) {
  .benefits__content .benefits__list .benefits__item .benefits__desc {
    max-width: 13.25rem;
  }
}

/* WORKS */
.works {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  margin-bottom: 12.5rem;
}
@media (max-width: 41.25rem) {
  .works {
    padding: 0 1.5rem;
  }
}
@media (max-width: 55rem) {
  .works {
    margin-bottom: 9rem;
  }
}
@media (max-width: 41.25rem) {
  .works {
    text-align: center;
  }
}
.works__content {
  padding-left: 5.3125rem;
}
@media (max-width: 73.125rem) {
  .works__content {
    padding-left: 0;
  }
}
.works__content .works__title {
  font: var(--fw-black) 1.5rem/var(--lh-xs) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  color: var(--color-grey);
  margin-bottom: 5.125rem;
}
@media (max-width: 73.125rem) {
  .works__content .works__title {
    margin-bottom: 3.6875rem;
  }
}
@media (max-width: 41.25rem) {
  .works__content .works__title {
    margin-bottom: 5rem;
  }
}
.works__content .works__details {
  display: block;
  width: 47.5rem;
  height: 0.0625rem;
  background-color: var(--color-paleOrange);
  position: relative;
  margin-bottom: 5.125rem;
}
@media (max-width: 73.125rem) {
  .works__content .works__details {
    margin-bottom: 3.625rem;
  }
}
@media (max-width: 41.25rem) {
  .works__content .works__details {
    display: none;
  }
}
@media (max-width: 73.125rem) {
  .works__content .works__details {
    width: 29.1875rem;
  }
}
.works__content .works__details .circle-1 {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 100px;
  border: 1px solid var(--color-darkCyan);
  background-color: var(--color-lightCream);
  top: 0;
  left: 4%;
  transform: translate(-50%, -50%);
}
.works__content .works__details .circle-2 {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 100px;
  border: 1px solid var(--color-darkCyan);
  background-color: var(--color-lightCream);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.works__content .works__details .circle-3 {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 100px;
  border: 1px solid var(--color-darkCyan);
  background-color: var(--color-lightCream);
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
}
.works__list {
  padding-left: 5.3125rem;
  display: flex;
  gap: 5.9375rem;
  margin-bottom: 4rem;
}
@media (max-width: 73.125rem) {
  .works__list {
    padding-left: 0;
    gap: 0.625rem;
    margin-bottom: 2.75rem;
  }
}
@media (max-width: 47.8125rem) {
  .works__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 41.25rem) {
  .works__list {
    flex-direction: column;
    align-items: center;
  }
}
.works__list .works__item {
  width: 17.8125rem;
}
@media (max-width: 73.125rem) {
  .works__list .works__item {
    width: 13.9375rem;
  }
}
@media (max-width: 41.25rem) {
  .works__list .works__item {
    width: 100%;
  }
}
.works__list .works__item .works__number {
  font: var(--fw-black) 4.5rem/var(--lh-l) "Fraunces", serif;
  color: var(--color-lightCream);
  display: inline-block;
  color: var(--color-paleOrange);
  margin-bottom: 2.375rem;
}
@media (max-width: 73.125rem) {
  .works__list .works__item .works__number {
    margin-bottom: 2.625rem;
  }
}
@media (max-width: 41.25rem) {
  .works__list .works__item .works__number {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
}
.works__list .works__item .works__subtitle {
  font: var(--fw-black) 2rem/var(--lh-s) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  max-width: 15.9375rem;
  margin-bottom: 2.6875rem;
}
@media (max-width: 73.125rem) {
  .works__list .works__item .works__subtitle {
    font-size: 1.75rem;
    line-height: 1.14;
    margin-bottom: 2.375rem;
  }
}
@media (max-width: 41.25rem) {
  .works__list .works__item .works__subtitle {
    max-width: 100%;
  }
}
.works__list .works__item .works__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  color: var(--color-darkGreyBlue);
}
@media (max-width: 73.125rem) {
  .works__list .works__item .works__desc {
    font-size: 0.9375rem;
    line-height: 1.67;
  }
}
.works .btn--padding {
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
  margin-left: 5.3125rem;
}
@media (max-width: 73.125rem) {
  .works .btn--padding {
    margin-left: 0;
  }
}

/* FOOTER */
.footer {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  padding-bottom: 5.5rem;
}
@media (max-width: 41.25rem) {
  .footer {
    padding: 0 1.5rem;
  }
}
@media (max-width: 55rem) {
  .footer {
    padding-bottom: 4.5rem;
  }
}
.footer__box {
  padding: 2.9375rem 5.3125rem;
  background-color: var(--color-darkGreyBlue);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__box g path:nth-child(1) {
  fill: #fff;
}
@media (max-width: 73.125rem) {
  .footer__box {
    padding-top: 3.375rem;
    padding-bottom: 3.375rem;
  }
}
@media (max-width: 73.125rem) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
  .footer__box .footer__logo g path:nth-child(1) {
    fill: #fff;
  }
}
@media (max-width: 41.25rem) {
  .footer__box {
    padding: 3.375rem;
  }
  .footer__box .footer__logo g path:nth-child(1) {
    fill: #fff;
  }
}
.footer__box .footer__redes {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 73.125rem) {
  .footer__box .footer__redes {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 41.25rem) {
  .footer__box .footer__redes {
    padding-top: 3.0625rem;
  }
}
.footer__box .footer__redes .footer__icon:hover, .footer__box .footer__redes .footer__icon:hover path {
  fill: var(--color-paleOrange);
  transition: all 0.4s ease-in-out;
}
.footer__nav {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 41.25rem) {
  .footer__nav {
    padding: 0 1.5rem;
  }
}
.footer__nav .footer__list {
  display: flex;
  gap: 2.0625rem;
}
@media (max-width: 73.125rem) {
  .footer__nav .footer__list {
    padding-top: 2rem;
  }
}
@media (max-width: 41.25rem) {
  .footer__nav .footer__list {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    padding-top: 3rem;
  }
}
.footer__nav .footer__list .footer__link {
  font: var(--fw-bold) 0.75rem/var(--lh-body-s) "Barlow", sans-serif;
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 0.92px;
  font-weight: var(--fw-bold);
  transition: 0.4s;
}
.footer__nav .footer__list .footer__link:hover {
  color: #fff;
}

.about-hero {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  margin-bottom: 10.5rem;
}
@media (max-width: 41.25rem) {
  .about-hero {
    padding: 0 1.5rem;
  }
}
.about-hero__box {
  height: 28.125rem;
  background: url(../img/about/desktop/image-hero-whitecup.jpg) no-repeat;
  border-radius: 0.625rem;
}
.about-hero__box .about-hero__content {
  padding: 8.5625rem 0 8.5625rem 5.3125rem;
}
.about-hero__box .about-hero__content .about-hero__title {
  font: var(--fw-black) 2.5rem/var(--lh-m) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  color: var(--color-lightCream);
  margin-bottom: 1.5rem;
}
.about-hero__box .about-hero__content .about-hero__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  max-width: 27.8125rem;
}

.commitment {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: auto auto 10.5rem auto;
}
.commitment__box {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 1fr auto;
}
.commitment__box .commitment__img img {
  border-radius: 0.5rem;
}
.commitment__box .commitment__content {
  height: 21.25rem;
}
.commitment__box .commitment__content .commitment__title {
  font: var(--fw-black) 2.5rem/var(--lh-m) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  margin-bottom: 2rem;
}
.commitment__box .commitment__content .commitment__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  max-width: 33.625rem;
  color: var(--color-darkGrey);
}

.quality {
  max-width: 85rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  display: grid;
  height: 35.125rem;
  margin-bottom: 10.5rem;
}
@media (max-width: 41.25rem) {
  .quality {
    padding: 0 1.5rem;
  }
}
.quality__box {
  height: 29.625rem;
  padding: 5.5rem 0 0 5.3125rem;
  align-self: end;
  border-radius: 0.625rem;
  position: relative;
}
.quality__box::after {
  content: "";
  display: block;
  width: 80rem;
  height: 29.625rem;
  background: url(../img/about/desktop/bg-quality.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.quality__box .quality__content {
  max-width: 33.75rem;
}
.quality__box .quality__content .quality__title {
  font: var(--fw-black) 2.5rem/var(--lh-m) "Fraunces", serif;
  color: var(--color-darkGreyBlue);
  color: var(--color-lightCream);
  margin-bottom: 2rem;
}
.quality__box .quality__content .quality__desc {
  font: var(--fw-regular) 1rem/var(--lh-body-m) "Barlow", sans-serif;
  color: var(--color-lightCream);
  opacity: 0.8;
  max-width: 33.625rem;
  color: var(--color-lightCream);
}
.quality__img-box {
  justify-self: end;
  padding-right: 5.3125rem;
}
.quality__img-box img {
  border-radius: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
