@use "../abstracts/functions" as *;
@use "../components/header" as *;
@use "../components/footer" as *;
@use "../abstracts/mixins" as *;
@use "../core/typography" as *;

/* HEADER */
.header {
  @include header;
}

/* HERO */
.hero {
  @include container;
  margin-bottom: rem(136);

  &__box {
    height: rem(600);
    background: url(/assets/img/home/desktop/image-hero-coffeepress.jpg)
      no-repeat;
    padding-top: rem(117);
    padding-left: rem(85);
    border-radius: rem(10);

    .hero__content {
      max-width: rem(493);

      .hero__title {
        @include font-l;
        margin-bottom: rem(32);
      }

      .hero__desc {
        @include font-body-m;
        margin-bottom: rem(56);
        max-width: 45ch;
      }

      .btn--padding {
        padding-left: rem(31);
        padding-right: rem(31);
      }
    }
  }
}

/* COLLECTION */
.collection {
  max-width: rem(1153);
  padding: 0 rem(40);
  margin: 0 auto;
  margin-bottom: rem(200);
  display: grid;
  height: rem(525);

  &__title {
    width: rem(1072);
    height: rem(196);
    @include font-xl;
    background-image: linear-gradient(
      to top,
      rgba(254, 252, 247, 0.0001) 0%,
      #979797 100%
    );
    color: #83888f;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    grid-area: 1 / -1;
    justify-self: center;
    padding-top: rem(86);
  }

  &__list {
    // width: rem(1111);
    grid-area: 1 / -1;
    padding-top: rem(126);
    display: flex;
    align-items: flex-start;
    // flex-wrap: wrap;
    // grid-template-columns: repeat(4, 1fr);
    gap: rem(30);

    .collection__item {
      width: rem(256);
      text-align: center;
      display: grid;

      .collection__img {
        width: rem(255);
        height: rem(193);
        margin-bottom: rem(72);
      }

      .collection__subtitle {
        @include font-xs;
        margin-bottom: rem(24);
      }

      .collection__desc {
        @include font-body-m;
        color: var(--color-darkGreyBlue);
      }
    }
  }
}

/* BENEFITS */
.benefits {
  @include container;
  height: rem(728);
  display: grid;
  align-items: start;
  margin-bottom: rem(200);

  &__content {
    height: rem(577);
    background-color: #282f38;
    border-radius: rem(10);
    padding: 0 rem(85) 0 rem(85);
    display: grid;
    row-gap: rem(86);

    .benefits__info {
      justify-self: center;
      display: grid;
      row-gap: rem(32);
      max-width: rem(527);
      text-align: center;

      .benefits__title {
        @include font-m;
        color: var(--color-lightCream);
        padding-top: rem(100);
      }

      .benefits__desc {
        @include font-body-m;
        opacity: 0.8;
      }
    }

    .benefits__list {
      display: flex;
      gap: rem(30);
      text-align: center;

      .benefits__item {
        max-width: rem(350);
        background-color: var(--color-darkCyan);
        border-radius: rem(8);
        padding: rem(72) rem(48) rem(48) rem(47);

        svg {
          margin-bottom: rem(56);
        }

        .benefits__subtitle {
          @include font-xs;
          color: var(--color-lightCream);
          margin-bottom: rem(24);
        }

        .benefits__desc {
          @include font-body-m;
        }
      }
    }
  }
}

/* BENEFITS */
.works {
  @include container;
  margin-bottom: rem(200);

  &__content {
    padding-left: rem(85);

    .works__title {
      @include font-xs;
      color: var(--color-grey);
      margin-bottom: rem(82);
    }
    .works__details {
      display: block;
      width: rem(760);
      height: rem(1);
      background-color: var(--color-paleOrange);
      position: relative;
      margin-bottom: rem(82);

      .circle-1 {
        @include circle(2);
      }

      .circle-2 {
        @include circle(50);
      }

      .circle-3 {
        @include circle(100);
      }
    }
  }

  &__list {
    padding-left: rem(85);
    display: flex;
    gap: rem(95);
    margin-bottom: rem(64);

    .works__item {
      max-width: rem(285);

      .works__number {
        @include font-l;
        display: inline-block;
        color: var(--color-paleOrange);
        margin-bottom: rem(38);
      }

      .works__subtitle {
        @include font-s;
        max-width: rem(255);
        margin-bottom: rem(43);
      }

      .works__desc {
        @include font-body-m;
        color: var(--color-darkGreyBlue);
      }
    }
  }

  .btn--padding {
    padding-left: rem(31);
    padding-right: rem(31);
    margin-left: rem(85);
  }
}

/* FOOTER */
.footer {
  @include footer;
}
