@use "../abstracts/functions" as *;
@use "../components/header" as *;
@use "../components/footer" as *;
@use "../abstracts/mixins" as *;
@use "../core/typography" as *;

/* HEADER */
.header {
  @include header;
}

/* HERO */
.hero {
  @include container;
  margin-bottom: rem(136);

  @include screen-880 {
    margin-bottom: rem(144);
  }

  @include screen-660 {
    margin-bottom: rem(120);
  }

  &__box {
    height: rem(600);
    background: url(/assets/img/home/desktop/image-hero-coffeepress.jpg)
      no-repeat;
    padding-top: rem(117);
    padding-left: rem(85);
    border-radius: rem(10);
    position: relative;

    @include screen-880 {
      height: rem(500);
      background: url(/assets/img/home/tablet/image-hero-coffeepress.jpg)
        no-repeat;
      background-size: cover;
      padding-top: rem(104);
      padding-left: rem(58);
    }

    @include screen-660 {
      padding: rem(100) rem(24);
      background: url(/assets/img/home/mobile/image-hero-coffeepress.jpg)
        no-repeat;
      background-size: cover;
    }

    .hero__content {
      max-width: rem(493);

      @include screen-880 {
        max-width: rem(398);
      }

      @include screen-660 {
        max-width: 100%;
        text-align: center;
      }

      .hero__title {
        @include font-l;
        color: var(--color-primary-text);
        margin-bottom: rem(32);

        @include screen-880 {
          font-size: rem(48);
        }

        @include screen-660 {
          font-size: rem(40);
          line-height: 1;
          margin-bottom: rem(24);
        }
      }

      .hero__desc {
        @include font-body-m;
        color: var(--color-primary-text);
        margin-bottom: rem(56);
        max-width: 45ch;

        @include screen-880 {
          font-size: rem(15);
          line-height: 1.67;
        }

        @include screen-660 {
          max-width: 100%;
          margin-bottom: rem(39);
        }
      }

      .btn--padding {
        padding-left: rem(31);
        padding-right: rem(31);
      }
    }
  }
}

/* COLLECTION */
.collection {
  max-width: rem(1190);
  padding: 0 rem(40);
  display: grid;
  margin: auto auto rem(200) auto;

  @include screen-660 {
    margin-bottom: rem(120);
  }

  &__title {
    @include font-xl;
    grid-area: 1 / -1;
    justify-self: center;
    background-image: linear-gradient(
      to top,
      rgba(254, 252, 247, 0.0001) 0%,
      #979797 100%
    );
    color: var(--color-grey);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*setting height value for linear-gradient to work 100%*/
    // box-sizing: content-box;
    height: rem(196);
    padding-top: rem(86);
    z-index: -1;

    @include screen-1070 {
      font-size: rem(100);
    }

    @include screen-880 {
      height: rem(118);
      padding-top: rem(27);
      font-size: rem(96);
      line-height: 0.75;
    }

    @include screen-765 {
      font-size: rem(80);
    }

    @include screen-660 {
      padding-top: 0;
      font-size: rem(40);

      line-height: 1.8;
      height: rem(72);
      margin-bottom: rem(13);
    }
  }

  &__list {
    grid-area: 1 / -1;
    padding-top: rem(126);
    display: flex;
    gap: rem(30);

    @include screen-1070 {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include screen-880 {
      padding-top: rem(59);
      flex-direction: column;
      align-content: center;
    }

    @include screen-660 {
      padding-top: 0;
      grid-area: initial;
      gap: rem(48);
    }

    @include screen-660 {
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
    }

    .collection__item {
      width: rem(255);
      text-align: center;
      display: grid;

      @include screen-880 {
        // align-content: start;
        text-align: left;
        width: max-content;
        height: rem(193);
        grid-template-columns: 1fr 1fr;

        .collection__content {
          max-width: rem(282);
          height: max-content;
          padding-top: rem(29);
        }
      }

      @include screen-660 {
        grid-template-columns: 1fr;
        row-gap: rem(24);
        width: 100%;
        height: auto;
        justify-items: center;

        .collection__content {
          padding-top: 0;
          text-align: center;
          height: auto;
        }
      }

      .collection__img {
        margin-bottom: rem(72);

        @include screen-660 {
          margin-bottom: 0;
          height: rem(151);
        }
      }
      .collection__subtitle {
        @include font-xs;
        color: var(--color-second-text);
        margin-bottom: rem(24);
      }

      .collection__desc {
        @include font-body-m;
        color: var(--color-second-text);

        @include screen-880 {
          font-size: rem(15);
          line-height: 1.67;
        }
      }
    }
  }
}

/* BENEFITS */
.benefits {
  @include container;
  height: rem(728);
  margin-bottom: rem(200);

  @include screen-1070 {
    height: rem(863);
    margin-bottom: rem(144);
  }

  @include screen-660 {
    height: rem(1526);
    margin-bottom: rem(120);
  }

  &__content {
    height: rem(577);
    background-color: #282f38;
    border-radius: rem(10);
    padding: 0 rem(85) 0 rem(85);
    display: grid;
    row-gap: rem(86);

    @include screen-1070 {
      height: rem(573);
      padding: 0 rem(74) 0 rem(74);
      row-gap: rem(70);
    }

    @include screen-660 {
      height: rem(902);
      padding: 0 rem(24) 0 rem(24);
      row-gap: rem(64);
    }

    .benefits__info {
      justify-self: center;
      display: grid;
      row-gap: rem(32);
      max-width: rem(520);
      text-align: center;

      @include screen-660 {
        row-gap: rem(24);
      }

      .benefits__title {
        @include font-m;
        color: var(--color-primary-text);
        padding-top: rem(100);

        @include screen-1070 {
          padding-top: rem(56);
        }

        @include screen-660 {
          padding-top: rem(64);
          font-size: rem(28);
          line-height: 1;
        }
      }

      .benefits__desc {
        @include font-body-m;
        color: var(--color-primary-text);
        opacity: 0.8;

        @include screen-660 {
          max-width: 100%;
        }
      }
    }

    .benefits__list {
      display: flex;
      gap: rem(30);
      text-align: center;

      @include screen-1070 {
        flex-direction: column;
        gap: rem(24);
      }

      .benefits__item {
        max-width: rem(350);
        background-color: var(--color-darkCyan);
        border-radius: rem(8);
        padding: rem(72) rem(48) rem(48) rem(47);

        @include screen-1070 {
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(55);
          text-align: left;
          padding: rem(41) rem(48) rem(41) rem(70);
        }

        @include screen-660 {
          flex-direction: column;
          text-align: center;
          padding: rem(72) rem(12) rem(51) rem(12);
        }

        &-content {
          @include screen-1070 {
            max-width: rem(344);
          }
        }

        img {
          margin: auto auto rem(56) auto;

          @include screen-1070 {
            margin: 0;
            height: 56px;
          }
          @include screen-660 {
            height: rem(72);
          }
        }

        .benefits__subtitle {
          @include font-xs;
          color: var(--color-primary-text);

          margin-bottom: rem(24);

          @include screen-1070 {
            margin-bottom: rem(16);
          }
          @include screen-660 {
            margin-bottom: rem(24);
          }
        }

        .benefits__desc {
          @include font-body-m;
          color: var(--color-primary-text);

          @include screen-1070 {
            font-size: rem(15);
            line-height: 1.67;
            max-width: 100%;
          }
          @include screen-660 {
            max-width: rem(212);
          }
        }
      }
    }
  }
}

/* WORKS */
.works {
  @include container;
  margin-bottom: rem(200);

  @include screen-880 {
    margin-bottom: rem(144);
  }

  @include screen-660 {
    text-align: center;
  }

  &__content {
    padding-left: rem(85);

    @include screen-1070 {
      padding-left: 0;
    }

    .works__title {
      @include font-xs;
      color: var(--color-third-text);
      margin-bottom: rem(82);

      @include screen-1070 {
        margin-bottom: rem(59);
      }

      @include screen-660 {
        margin-bottom: rem(80);
      }
    }

    .works__details {
      display: block;
      width: rem(760);
      height: rem(1);
      margin-left: rem(15);
      background-color: var(--color-paleOrange);
      position: relative;
      margin-bottom: rem(82);

      @include screen-1070 {
        margin-bottom: rem(58);
        margin-left: rem(0);
      }

      @include screen-660 {
        display: none;
      }

      @include screen-1070 {
        width: rem(467);
      }

      .circle-1 {
        @include circle(0);

        @include screen-1070 {
          @include circle(3);
        }
      }

      .circle-2 {
        @include circle(50);
      }

      .circle-3 {
        @include circle(100);
      }
    }
  }

  &__list {
    padding-left: rem(85);
    display: flex;
    gap: rem(95);
    margin-bottom: rem(64);

    @include screen-1070 {
      padding-left: 0;
      gap: rem(10);
      margin-bottom: rem(44);
    }

    @include screen-765 {
      flex-wrap: wrap;
    }

    @include screen-660 {
      flex-direction: column;
      align-items: center;
    }

    .works__item {
      width: rem(285);

      @include screen-1070 {
        width: rem(223);
      }

      @include screen-660 {
        width: 100%;
      }

      .works__number {
        @include font-l;
        display: inline-block;
        color: var(--color-paleOrange);
        margin-bottom: rem(38);

        @include screen-1070 {
          margin-bottom: rem(42);
        }

        @include screen-660 {
          font-size: rem(72);
          line-height: 1;
          margin-bottom: rem(24);
        }
      }

      .works__subtitle {
        @include font-s;
        max-width: rem(255);
        margin-bottom: rem(43);
        color: var(--color-second-text);

        @include screen-1070 {
          font-size: rem(28);
          line-height: 1.14;
          margin-bottom: rem(38);
        }

        @include screen-660 {
          max-width: 100%;
        }
      }

      .works__desc {
        @include font-body-m;
        color: var(--color-second-text);

        @include screen-1070 {
          font-size: rem(15);
          line-height: 1.67;
        }
      }
    }
  }

  .btn--padding {
    padding-left: rem(31);
    padding-right: rem(31);
    margin-left: rem(85);

    @include screen-1070 {
      margin-left: 0;
    }
  }
}

/* FOOTER */
.footer {
  @include footer;
}
